.page-subhead{
  position: relative;
  height:451px;
  width: 100%;
  display: flex;

  @media screen and (max-width:1605px ){
    height: 400px;
  }
  @media screen and (max-width: 900px){
    display: flex;
    flex-direction: column;
    height: auto;
  }
  flex-direction: row;
  justify-content: flex-start;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  .head-container{
    height: 317px;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    text-align: right;
    .userImage{
      pointer-events: none;
    }
    .title{
      font-size: 45px;
      margin: 0;
      font-weight: bold;
      color: #FFFFFF;
      @media(max-width: 900px){
        text-align: center;
        padding: 0 20px;
      }
      @media screen and (max-width:767px){
        font-size: 30px;
      }
      @media screen and (max-width: 480px){
        font-size: 25px;
      }
    }
    .position{

      font-weight: normal;
      color: #F2F2F2;
      @media screen and (max-width:767px){
        font-size: 30px;
      }
      @media screen and (max-width: 480px){
        font-size: 25px;
      }
    }
  }
}
.head-txt-container{
  .summary-info{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    @media screen and (max-width: 480px){
      flex-direction: column;
      align-items: center;
    }
    .sum{
      font-weight: bold;
      font-size: 24px;
      line-height: 65px;
      margin-top: -17px;
      text-align: center;
      display: flex;
      align-items: center;
      color: #F2F2F2;
      @media screen and (max-width: 450px) {
        font-size: 20px;

      }
      span{
        font-weight: normal;
      }
      svg{
        margin-left: 10px;
      }
    }
    .valet{
      margin-top: -24px;
      @media screen and (max-width: 450px) {
        margin-top: -35px;
      }
    }
  }
}
.about-info{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(90deg, #2871D7 0%, #3269B6 100%);
  @media (max-width: 900px){
    position: static;
  }
  .nav-links{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    .row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media screen and (max-width:900px ){
        flex-direction: column;
        align-items: unset;
      }
      hr{
        @media screen and (max-width:900px ){
          display: none;
        }
      }
    }
    .link{
      border-left: 2px solid #FFFFFF;
      list-style-type: none;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #FFFFFF;
      height: 46px;
      padding: 0 15px;
      &:last-child{
        border: none;
      }
      @media screen and (max-width:900px ){
        line-height: 34px;
        border: none;
      }
      @media screen and (max-width:480px ){
        font-size: 18px;
      }
      svg {
        margin-right: 12px;
      }


      &:hover{
        text-decoration: underline;
      }
    }

  }
}

.userImage{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  @media screen and (max-width: 1650px){
    width: 150px;
    height: 150px;
  }
}
