.h-container {
  width: 1560px;//width of content 1530px
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.text-center{
  text-align: center;
}
