.h-container {
  width: $container-width1;
  margin: 0 auto;
  padding: 0 $gutters;
}
@media (max-width: $breakpoint2){
  .h-container{
    width: $container-width2;
  }
}

@media (max-width: $breakpoint3){
  .h-container{
    width: $container-width3;
  }
}

@media (max-width: $breakpoint4){
  .h-container{
    width: $container-width4;
  }
}

@media (max-width: $breakpoint5){
  .h-container{
    width: 100%;
  }
}

.d-flex{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.text-center{
  text-align: center;
}

.w-100{
  width: 100%;
}
