.th-heading{
  color: $clr-dark;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
}

.clr-blue{
  color: $clr-blue;
}

.th-btn {
  border-radius: 50px;
  &:disabled {

  }
  &:hover {

  }
}

.th-btn-sm {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}


//transparent
.th-btn-empty {
  background: transparent;
  border: 2px solid $clr-blue;
  color: $clr-blue;
  &:hover {

  }

  &.th-btn {

  }
}

.th-btn-blue{
  background: linear-gradient(90deg, #2871D7 0%, #3269B6 100%);
  color: #fff;
}

//arrow btn
.th-btn-empty-arr {
  @extend .th-btn-empty;


}

.th-list {
  li {
    padding-left: 20px;
    position: relative;
    &::before {
      content: '●';
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.th-list-ln {
  position: relative;
  li {
    padding-left: 20px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
    }
  }
}

.th-input {

  &::placeholder {

  }
}

.th-radio {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #E0E0E0;
  position: relative;
  border-radius: 50%;
  background: #fff;
  &:checked {
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;
      content: '';
      border-radius: 50%;
    }
  }
}

.th-slider-arrow{
  &.th-slider-arrow-left,
  &.th-slider-arrow-right{
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
  &.th-slider-arrow-left{
    background: url('/static/images/icons/slider-arrow-left.svg') no-repeat center !important;
    background-size: cover;
    left: -50px;
    right: auto;
  }
  &.th-slider-arrow-right{
    background: url('/static/images/icons/slider-arrow-right.svg') no-repeat center !important;
    background-size: cover;
    right: -50px;
    left: auto;
  }
}
