.th-heading{
  color: $clr-dark;
  font-size: ceil($scale1 * 64px);
  font-weight: bold;
  margin-bottom: ceil($scale1 * 30px);
}
@media (max-width: $breakpoint2){
  .th-heading{
    font-size: ceil($scale2 * 64px);
  }
}

.clr-blue{
  color: $clr-blue;
}

.th-btn {
  border-radius: ceil($scale1 * 50px);
  display: inline-flex;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.th-btn-sm {
  height: ceil($scale1 * 40px);
  font-size: ceil($scale1 * 14px);
  font-weight: bold;
  padding-right: ceil($scale1 * 30px);
  padding-left: ceil($scale1 * 30px);
}
.th-btn-md {
  height: ceil($scale1 * 50px);
  padding-right: ceil($scale1 * 50px);
  padding-left: ceil($scale1 * 50px);
  font-size: ceil($scale1 * 22px);
  font-weight: bold;
}
.th-btn-lg {
  height: ceil($scale1 * 70px);
  padding-right: ceil($scale1 * 75px);
  padding-left: ceil($scale1 * 75px);
  font-size: ceil($scale1 * 22px);
  font-weight: bold;
}
@media (max-width: $breakpoint2){
  .th-btn-sm {
    padding-right: ceil($scale2 * 30px);
    padding-left: ceil($scale2 * 30px);
  }
  .th-btn-md {
    height: ceil($scale2 * 50px);
    padding-right: ceil($scale2 * 50px);
    padding-left: ceil($scale2 * 50px);
    font-size: ceil($scale2 * 22px);
  }
  .th-btn-lg {
    height: ceil($scale2 * 70px);
    padding-right: ceil($scale2 * 75px);
    padding-left: ceil($scale2 * 75px);
    font-size: ceil($scale2 * 22px);
  }
}


//transparent
.th-btn-empty {
  background: transparent;
  border: 2px solid $clr-blue;
  color: $clr-blue;

  //animation
  transition: all .3s ease-out;
  position: relative;
  transform: perspective(1px) translateZ(0);
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: $clr-blue;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .3s ease-out;
  }
  &:hover{
    color: #fff;
    //background: $clr-blue;
    &:before{
      transform: scaleX(1);
    }
  }

}

.th-btn-blue{
  background: linear-gradient(90deg, #2871D7 0%, #3269B6 100%);
  border: 2px solid $clr-blue;
  color: #fff;

  //animation
  transition: color .3s ease-out;
  position: relative;
  transform: perspective(1px) translateZ(0);
  &:before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .3s ease-out;
  }
  &:hover{
    color: $clr-blue;
    &:before{
      transform: scaleX(1);
    }
  }
}
.th-btn-yellow{
  background: #F2C94C;
  color: #fff;
}

//arrow btn
.th-btn-empty-arr {
  @extend .th-btn-empty;


}

.th-list {
  li {
    padding-left: 20px;
    position: relative;
    &::before {
      content: '●';
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.th-list-ln {
  position: relative;
  li {
    padding-left: 20px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
    }
  }
}

.th-input {
  height: ceil($scale1 * 50px);
  border-radius: ceil($scale1 * 50px);
  padding-right: ceil($scale1 * 25px);
  padding-left: ceil($scale1 * 25px);
  font-size: ceil($scale1 * 24px);
  &::placeholder {

  }
}

.th-radio {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #E0E0E0;
  position: relative;
  border-radius: 50%;
  background: #fff;
  &:checked {
    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;
      content: '';
      border-radius: 50%;
    }
  }
}

//slider arrows
.th-slider-arrow{
  &.th-slider-arrow-left,
  &.th-slider-arrow-right{
    width: ceil($scale1 * 50px);
    height: ceil($scale1 * 50px);
    margin-top: ceil($scale1 * -25px);
  }
  &.th-slider-arrow-left{
    background: url('/static/images/icons/slider-arrow-left.svg') no-repeat center;
    background-size: cover;
    left: ceil($scale1 * -65px);
    right: auto;
  }
  &.th-slider-arrow-right{
    background: url('/static/images/icons/slider-arrow-right.svg') no-repeat center;
    background-size: cover;
    right: ceil($scale1 * -65px);
    left: auto;
  }
}

// divider
.th-divider{
  border: 1px solid #F2F2F2;
}


@media (max-width: $breakpoint2){
  .th-slider-arrow{
    &.th-slider-arrow-left,
    &.th-slider-arrow-right{
      width: ceil($scale2 * 50px);
      height: ceil($scale2 * 50px);
      margin-top: ceil($scale2 * -50px / 2);
    }
    &.th-slider-arrow-left{
      left: ceil($scale2 * -65px);
    }
    &.th-slider-arrow-right{
      right: ceil($scale2 * -65px);
    }
  }
}
